.contact-spline-wrapper {
    // This is the 3D MODEL on the RIGHT
    position: absolute;
    flex: 0 0 45%; 
    height: 100vh; 
    width: 90vh;
    z-index: 1; 
    transform: scale(0.9);
    padding-bottom: 70px;
    // 1. THIS FIXES SCROLLING (and breaks hover, as you agreed)


    // --- 2. THIS IS THE NEW TRICK TO HIDE THE LOGO ---
    //
    // This "crops" the container from the bottom up.
    // We are cropping 50px off the bottom. 
    // You can change "50px" to "60px" or "40px"
    // until the logo is perfectly gone.
    clip-path: inset(0 0 125px 0); 
  }